<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Tanned</title>

	<link href="/static/css/minimal.css" rel="stylesheet">
	<style> .boxed {
  border: 1px solid #ddd;
  }
body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-size: 16px;
}

.main {
  align: center;
  background-color: #2b2b2b;
  color: #F0F0F0;
  font-size: 30px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.major {
  text-align: center;
  color: #3d3d3d;
  font-size: 100px;
  vertical-align: center;
}
</style>

</head>
<body style="background-color:#F0F0F0;">

<div class="main"><br>
a bowl full of Questions
</div>

<br/><br/><br/><br/><br/><br/>
<div class="major"> how about vendetta <hr> </div>
<br/><br/><br/>

<div class="container">
	<div class="row" style="background-color:#FF6A6A;"><div class="col-12"><div class="container">
		{% for message in get_flashed_messages() %}
    <div class = flash> {{ message }} </div>
        {% endfor %}
    </div></div></div>

    <div class="row">
		<div class="col-9">
			<p><img src="/static/img/mug.png" align="left"/> <h1> Just a blog.</h1></p>
			<hr>
			
			{% block body %} {% endblock %}
		</div>

	    <div class="col-3" style="text-align:center;"> <br><br><br><br><br>
			<h2>About The Author</h2>
			<h4>Computer Programmer, Bullshit Detector</h4>
			<p> Just a bunch of memoirs and memoir-inspired thoughts. Couldn't be too shabby, right?</p>
      <hr>
			<p> >>> <span style="color:#00bde5;">sum</span> ( questions<span style="color:#ff005c;">**<span style="color:#0080ff;">2</span> for </span>fallacy <span style="color:#ff005c;">in</span> beliefs )</p>
	    </div>
	</div>
	<hr>
</div>
</body>
</html>